<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" ng-app>
	<head>
		<title>DaveChat</title>
		<meta name="viewport" content="width=305, user-scalable=no" />
		<!--<link href="bootstrap-combined.min.css" rel="stylesheet">-->
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="chat.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="Conversation">
		    <div class="left-column">
		    	<button class="btn compact-only" ng-click="hideSidebar()"><i class="icon-chevron-left"></i></button>
		    	<ul class="nav nav-tabs nav-stacked">
					<li ng-repeat="chatter in chatters">
			        	<a class="color-{{chatter.id}}">{{chatter.name}}</a>
			    	</li>
			    </ul>
			    <button class="btn" ng-show="my_username" ng-click="lockChat()"><i class="icon-lock"></i> Lock Chat</button><br />
			    <button class="btn btn-danger" ng-show="my_username" ng-click="clearMessages()"><i class="icon-trash"></i> Clear Messages</button><br />
			    <a class="hidden" href="#username_modal" ng-show="my_username" data-toggle="modal">Change Username</a>
		    </div>
		    <div class="right-column">
				<div class="title-bar">
					<button class="btn compact-only" ng-click="showSidebar()"><i class="icon-chevron-right"></i></button>
					<h1>{{conversation_name}}</h1>
				</div>
				<div class="messages-box" id="messages-box">
					<div class="message row-fluid color-{{chatters.get(message.sender).id}}" ng-repeat="message in messages | orderBy: 'time'">
			        	<strong class="sender span3" ng-hide="message.sender == undefined">{{message.sender}}<small>{{message.timeString()}}</small></strong>
			        	<div class="message-text span9">{{message.text}}</div>
			    	</div>
				</div>
				<form class="chat-box"ng-submit="sendMessage()">
					<textarea id="message_textarea"  ng-show="my_username" ng-model="message_text"></textarea>
					<input type="submit" value="send" class="btn"  ng-show="my_username" />
			    	<a href="#username_modal" class="btn btn-large" ng-hide="my_username" data-toggle="modal">Join the conversation</a>
				</form>
		    </div>
		    <div id="username_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Set Username</h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-error" ng-show="username_error">{{username_error}}</div>
			    	<input class="username" type="text" ng-model="new_username" placeholder="Type a username here" />
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-primary" ng-click="setUsername()">Save</a>
				</div>
			</div>
		</div>
	</body>
</html>