$right-column-width: 530px;
$gray: rgb(230,230,230);
$color-value: 128;
$phone: 365px;
$hide-sidebar: 600px;
$narrow: 767px;
$wide: 1000px;
html {
	margin: 0px;
	overflow-y: scroll;
	height: 100%;
}
body {
	margin: 0px;
	height: 100%;
}
a img {
	outline: none;
	border: none;
}
.icon-loading {
	background-image: url('loading.gif');
	background-repeat: no-repeat;
	background-position: center 0px;
	display: inline-block;
	width: 24px;
	height: 16px;
}
.compact-only {
	@media screen and (min-width: $hide-sidebar) {
		display: none;
	}
}
.left-column {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	padding: 10px;
	height: 100%;
	z-index: 15;
	background-color: white;
	text-align: center;
	overflow: auto;
	&.sidebar_out {
		left: 0px;
	}
	.nav {
		margin-top: 30px;
		font-weight: bold;
		text-align: left;
		clear: both;
		.is_me {
			background-color: rgb(240, 240, 240);
		}
	}
	@media screen and (max-width: $hide-sidebar) {
		left: -220px;
		border-right: 1px solid $gray;
		background-color: lighten($gray, 8%);
	}
	.btn {
		width: 170px;
		margin-bottom: 10px;
		i {
			margin-right: 3px;
			margin-left: -10px;
		}
	}
	.compact-only {
		width: auto;
		float: right;
		i {
			margin: auto;
		}
	}
}
.right-column, .title-bar, .chat-box {
	width: $right-column-width;
	@media screen and (min-width: $wide) {
		width: 1.4*$right-column-width;
	}
	@media screen and (max-width: $narrow) {
		width: 2*$right-column-width/3;
	}
	@media screen and (max-width: $phone) {
		width: $right-column-width*0.55;
	}
}
.right-column {
	position: absolute;
	top: 0px;
	left: 225px;
	height: 100%;
	@media screen and (max-width: $hide-sidebar) {
		left: 5px;
	}
}
.title-bar {
	position: fixed;
	height: 60px;
	background-color: rgba(white, 0.85);
	z-index: 10;
	line-height: 60px;
	h1 {
		display: inline;
		font-size: 25px;
		padding-left: 5px;
	}
	button {
		margin: 0px 5px 10px 5px;
	}
}
.messages-box {
	position: relative;
	top: 100px;
	padding-bottom: 80px;
	color: rgb(100,100,100);
	.message {
		border-bottom: 1px solid $gray;
		padding: 3px 0px;
		.sender {
			overflow: hidden;
			small {
				opacity: 0.75;
				&:before {
					content: " ";
					display: block;
				}
				@media screen and (max-width: $narrow) {
					float: right;
					display: inline;
				}
			}
		}
		.message-text {
			margin-left: 0px;
		}
	}
	.is_me {
		.message-text {
			@media screen and (max-width: $narrow) {
				text-align: right;
			}
		}
	}
	.icon-loading {
		width: 99%;
	}
}
.chat-box {
	margin: 0px;
	position: fixed;
	bottom: 0px;
	background-color: white;
	padding-top: 5px;
	text-align: center;
	textarea {
		max-height: 50px;
		min-height: 50px;
		max-width: $right-column-width - 150px;
		min-width: $right-column-width - 150px;
		padding: 5px;
		@media screen and (min-width: $wide) {
			max-width: (1.4*$right-column-width) - 150px;
			min-width: (1.4*$right-column-width) - 150px;
		}
		@media screen and (max-width: $narrow) {
			max-width: (2*$right-column-width/3) - 100px;
			min-width: (2*$right-column-width/3) - 100px;
		}
		@media screen and (max-width: $phone) {
			max-width: ($right-column-width*0.55) - 80px;
			min-width: ($right-column-width*0.55) - 80px;
		}
	}
	input[type='submit'] {
		width: 130px;
		float: right;
		height: 62px;
		@media screen and (max-width: $narrow) {
			width: 80px;
		}
		@media screen and (max-width: $phone) {
			width: 60px;
		}
	}
	.btn-large {
		margin-bottom: 10px;
	}
}
.color-0 {
	color: hsl(0, 100%, 25%) !important;
}
.color-1 {
	color: hsl(85, 100%, 25%) !important;
}
.color-2 {
	color: hsl(170, 100%, 25%) !important;
}
.color-3 {
	color: hsl(212, 100%, 25%) !important;
}
.color-4 {
	color: hsl(42, 100%, 25%) !important;
}
.color-5 {
	color: hsl(128, 100%, 25%) !important;
}
.modal {
	@media screen and (min-width: 768px) {
		width: 400px;
		margin-left: -200px;
	}
	.username {
		width: 95%;
	}
	.modal-footer {
		//text-align: center;
	}
}